{
  # Add any additional required modules
  imports = [
    ./hardware-configuration.nix
    ./reverse-tunnel.nix
    ./users/msfocb.nix
  ];

  hostname = "";

  # Set to "nodev" for an uefi system.
  grub.device = "/dev/disk/by-<id|path>/<label>";

  # Timezone of the location where the server will be deployed
  # https://en.wikipedia.org/wiki/List_of_tz_database_time_zones
  timezone = "Europe/Brussels";
 
  reverse_tunnel_forward_port = "6xxx";

  crypto.encrypted_device = "";

}

